body { 
  font-family: 'Amatic SC', cursive;
  text-align: center;
  background-image: url("/images/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #FFFF99;
  margin-top: 5%;

}

h1 {
  font-size: 7em;
  color: #FFFF99;
}

.well {
  background-color: #33CCFF;
  opacity: 0.9;
  border: 0;
  border-color: #00FFFF;
  width: 220px;
  display: inline-block;
  margin-top: 5%;
  color: #FFFF99;
}

#center {
  border-radius: 25px;
}

#results {
  background-color: #33CCFF;
  color: #FFFF99;
  margin-top: 30px;
  border-radius: 25px;
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 2%;
  box-shadow: 0 15px 10px #FF66CC;
}

img {
  max-width: 200px;
  max-height: 200px;
  display: center;
}




