<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giphy Search</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <!-- Custom code -->
    <script src="js/app2.js"></script>
    <script src="js/services.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="GiphyApp">
    <div ng-controller="GiphyController" class="container">
     
    <!-- Error Message -->
    <div class="row" ng-if="error != ''">
      <div class="col-xs-12">
        <div class="alert alert-danger">
          {{error}}
        </div>
      </div>
    </div>

      <!-- Search Form-->
      <h1 class="text-center">Welcome to Giphy Search</h1>
      <form class="form-inline" ng-submit="search()">
        <div class="form-group">
          <label for="search">Search</label>
          <input type="text" name="searchTerm" ng-model="searchTerm" class="form-control" placeholder="Search for gifs">
        </div>
        <input type="submit" class="btn btn-primary" ng-click="search()">
      </form>
      <div id="results" ng-if="gifs.length > 0">
        <h2>Search Results</h2>
        <div class="well" ng-repeat="gif in gifs">
          <img src="{{gif.images.original.url}}">
          {{gif.images.original.url}}
        </div>
      </div>
    </div>
  </body>
</html>
