<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giphy Search</title>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script type='text/javascript' src='infinite_scroll.min.js'></script>
    <script type="text/javascript" src="masonry.pkgd.min.js"></script>
    <script src="js/app.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="GiphyApp">
    <div id="opacity">
      <div ng-controller="SearchCtrl">
        <div class="container">
          <p><img src="images/giphysearch.png"></p>
            <form class="form-inline" ng-submit="getGiphies()">
              <div class="form-group">
                <label for="search"></label>
                <input type="text" ng-model="searchTerm" ng-change="getGiphies()" placeholder="Search for GIFs" id="search" class="form-control">
              </div>
          </form>
        </div>
         <div id="results">
          <p class="giphy" ng-repeat="giphy in giphies track by $index" infinite-scroll="getGiphies()">
            <img ng-src="{{giphy.images.original.url}}">
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
